In [1]:
# My First Program

a = 5
print(a)

5

In [2]:
# Declarnig a Variables

var1 = 2       # Int
var2 = 5.0     # Float/decimal
var3 = True    # Boolean
var4 = "Machine Learning"   # String

In [3]:
print("Values of var1 :", var1)
print("Values of var2 :", var2)
print("Values of var3 :", var3)
print("Values of var4 :", var4)

Values of var1 : 2
Values of var2 : 5.0
Values of var3 : True
Values of var4 : Machine Learning

In [4]:
# Checking the data type

type(var1)

int

In [5]:
type(var2)

float

In [6]:
type(var3)

bool

In [7]:
type(var4)

str

In [8]:
# Conditional Statements

if var1 > 1:
    print("Bigger than 1")

Bigger than 1

In [9]:
x = 10
y = 12

if x > y:
    print("x > y")
elif x < y:
    print("x < y")
else:
    print("x = y")

x < y

In [10]:
# Ternary Operator

# initialize
x = 5

# True if x is more than 10 or assign False using ternary operator
isGreater = True if x > 10 else False

print(isGreater)

False

In [11]:
# Generating Sequence Numbers

# Initializing the sequence if numbers starting from 1 and ending (not including) with 6

numbers = range(1, 6)

numbers

range(1, 6)

In [12]:
# Control Flow Statements

In [13]:
# Interate through the collection

for i in numbers:
    print(i)

1
2
3
4
5

In [14]:
# While loop

i = 1

while i < 5:
    print(i)
    i = i + 1

print('Done')

1
2
3
4
Done

In [15]:
# Functions

In [16]:
def addElements(a,b):
    return a + b

In [17]:
result = addElements(2, 3)
result

5

In [18]:
result = addElements(2.3, 4.5)
result

6.8

In [19]:
result = addElements("python", "workshop")
result

'pythonworkshop'

In [20]:
def addElements(a, b = 4):
    return a + b

In [21]:
addElements(2)

6

In [22]:
addElements(2,5)

7

In [23]:
# Working with Collections:

    # List
    # Tuple
    # Set
    # Dictionary

In [24]:
# List
# Creating an empty list
emptyList = []

In [25]:
batsmen = ['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni']

In [26]:
batsmen[0]

'Rohit'

In [27]:
batsmen[0:2]

['Rohit', 'Dhawan']

In [28]:
batsmen[-1]

'Dhoni'

In [29]:
len(batsmen)

6

In [30]:
bowlers = ['Bumrah', 'Shami', 'Bhuvi', 'Kuldeep', 'Chahal']

In [32]:
all_players = batsmen + bowlers
all_players

['Rohit',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Bumrah',
 'Shami',
 'Bhuvi',
 'Kuldeep',
 'Chahal']

In [33]:
# Finding if an item exists in a list or not

print('Bumrah' in bowlers)
print('Rayudu' in bowlers)

True
False

In [34]:
# Finding the index of an item in the list

all_players.index('Dhoni')

5

In [35]:
# reversing the list

all_players.reverse()
all_players

['Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit']

In [36]:
# Tuples

In [37]:
odiDebut = ('Kohli', 2008)
odiDebut

('Kohli', 2008)

In [39]:
odiDebut[0]

'Kohli'

In [41]:
# Tuple is immutable... We cannot change or modify the tuple elements

In [42]:
# type cast

players = tuple(all_players)
players

('Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit')

In [43]:
# Set

In [45]:
setOfNumbers = {6,1,1,2,4,5} # Unique Elements
setOfNumbers

{1, 2, 4, 5, 6}

In [46]:
wc2011 = {"Dhoni", "Sehwag", "Tendulkar", "Gambhir", "Kohli", "Raina", "Yuvraj", "Yusuf"}
wc2015 = {"Dhoni", "Dhawan", "Rohit", "Rahane", "Kohli", "Raina", "Rayudu", "Jadeja"}

In [47]:
# Union

wc2011.union(wc2015)

{'Dhawan',
 'Dhoni',
 'Gambhir',
 'Jadeja',
 'Kohli',
 'Rahane',
 'Raina',
 'Rayudu',
 'Rohit',
 'Sehwag',
 'Tendulkar',
 'Yusuf',
 'Yuvraj'}

In [48]:
wc2011.intersection(wc2015)

{'Dhoni', 'Kohli', 'Raina'}

In [49]:
wc2015.difference(wc2011)

{'Dhawan', 'Jadeja', 'Rahane', 'Rayudu', 'Rohit'}

In [50]:
# Dictionary

In [51]:
wcWinners = {1975: "West Indies",
             1979: "West Indies",
             1983: "India",
             1987: "Austrailia",
             1991: "Pakistan",
             1996: "Sri Lanka",
             2003: "Austrailia",
             2007: "Austrailia",
             2011: "India"
            }

In [52]:
wcWinners[1983]

'India'

In [53]:
wcWinners.values()

dict_values(['West Indies', 'West Indies', 'India', 'Austrailia', 'Pakistan', 'Sri Lanka', 'Austrailia', 'Austrailia', 'India'])

In [54]:
set(wcWinners.values())

{'Austrailia', 'India', 'Pakistan', 'Sri Lanka', 'West Indies'}

In [55]:
wcWinners[2015] = 'Austrailia'
wcWinners

{1975: 'West Indies',
 1979: 'West Indies',
 1983: 'India',
 1987: 'Austrailia',
 1991: 'Pakistan',
 1996: 'Sri Lanka',
 2003: 'Austrailia',
 2007: 'Austrailia',
 2011: 'India',
 2015: 'Austrailia'}

In [56]:
# Dealing with Strings

In [57]:
string0 = 'python'
string1 = "machine learning"

In [58]:
string2 = """This is multiline string"""

In [59]:
# Converting to uppercase string0.upper
# Similarly string.lower()

In [62]:
tokens = string1.split(' ')
tokens

['machine', 'learning']

In [63]:
# Functional Programming

# MAP

In [65]:
intList = [1,2,3,4,5,6,7,8,9]

squareList = []

for x in intList:
    squareList.append(pow(x , 2))

print(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [66]:
def square_me(x):
    return x*x

In [67]:
squareList = map(square_me, intList)

In [68]:
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [69]:
squareList = map(lambda x: x*x, intList)
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
# EXample 2: Filter

In [72]:
evenInts = filter(lambda x: x%2 == 0, intList)
list(evenInts)

[2, 4, 6, 8]

In [73]:
# Modules and Packages

In [74]:
import math

# taking square root of a value
math.sqrt(16)

4.0

In [75]:
from random import sample

In [77]:
# Generating a random set of numbers in a range

sample(range(0, 11), 3)

[6, 2, 3]

In [78]:
# Other Features

In [79]:
import random 

randomList = random.sample(range(0,1001), 20)
randomList

[967,
 577,
 678,
 574,
 826,
 849,
 761,
 811,
 536,
 631,
 941,
 587,
 908,
 581,
 508,
 708,
 295,
 219,
 120,
 870]

In [80]:
from statistics import mean, median

def getMeanAndMedian(listNum):
    return mean(listNum), median(listNum)

In [81]:
mean, median = getMeanAndMedian(randomList)

In [82]:
print("Mean: ", mean, " Median: ", median)

Mean:  647.35  Median:  654.5