In [1]:
# Using Bollywood Dataset to Answer Question 1 to 12.

In [2]:
# importing library

import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
# Loading the DataFrame

bolly_df = pd.read_csv('./Data/bollywood.csv')
bolly_df.head(5)

,SlNo,Release Date,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes
0,1,18-Apr-14,2 States,LW,Romance,36,104.00,8576361,26622,2527
1,2,4-Jan-13,Table No. 21,N,Thriller,10,12.00,1087320,1129,137
2,3,18-Jul-14,Amit Sahni Ki List,N,Comedy,10,4.00,572336,586,54
3,4,4-Jan-13,Rajdhani Express,N,Drama,7,0.35,42626,86,19
4,5,4-Jul-14,Bobby Jasoos,N,Comedy,18,10.80,3113427,4512,1224

<p style = "background-color:#CE5A67; color: white">Q1. How many records are present in the dataset? Print the metadata information of the dataset.</p>

Sol.

In [7]:
bolly_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SlNo                 149 non-null    int64
 1   Release Date         149 non-null    object
 2   MovieName            149 non-null    object
 3   ReleaseTime          149 non-null    object
 4   Genre                149 non-null    object
 5   Budget               149 non-null    int64
 6   BoxOfficeCollection  149 non-null    float64
 7   YoutubeViews         149 non-null    int64
 8   YoutubeLikes         149 non-null    int64
 9   YoutubeDislikes      149 non-null    int64
dtypes: float64(1), int64(5), object(4)
memory usage: 11.8+ KB

so, there are 149 entries with 10 features or columns(if SlNo included).

In [9]:
bolly_df.shape

(149, 10)

<p style = "background-color:#555843; color: #B6FFFA">Q2. How many movies got released in each genre? Which genre had highest number of releases? Sort no. of releases in each genre in descending order.</p>

Sol.

In [18]:
bolly_df.Genre.value_counts(normalize = False, sort = True, ascending = False, bins = None, dropna = True)

Comedy       36
 Drama       35
Thriller     26
Romance      25
Action       21
Thriller      3
Action        3
Name: Genre, dtype: int64

As we can see, there is 36 comedy movies released, 35 Drama, 26 Thriller, 25 Romance, 21 Action, 3 Thriller and 3 Action.
Syntax: Index.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True) </br>
Parameters : </br>
normalize : If True then the object returned will contain the relative frequencies of the unique values. </br>
sort : Sort by values </br>
ascending : Sort in ascending order </br> 
bins : Rather than count values, group them into half-open bins, a convenience for pd.cut, only works with numeric data </br>
dropna : Donâ€™t include counts of NaN. </br>
Returns : counts : Series </br>

<p style = "background-color:#DADDB1; color: #072541">Q3. How many movies in each genre got released in different release times like long weekend, festive season, etc. (Note: Do a cross tabulation between Genre and Release Time)</p>

In [19]:
pd.crosstab(bolly_df['Genre'], bolly_df['ReleaseTime'])

ReleaseTime  FS  HS  LW   N
Genre
 Drama        4   6   1  24
Action        3   3   3  12
Action        0   0   0   3
Comedy        3   5   5  23
Romance       3   3   4  15
Thriller      4   1   1  20
Thriller      0   0   1   2

Here, FS - 'Festive Season', HS - 'Holiday Season', LW - 'Long Weekend', N - 'Normal'

Syntax: pandas.crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins=False, margins_name=â€™Allâ€™, dropna=True, normalize=False)
</br>
Arguments :
</br>
index : array-like, Series, or list of arrays/Series, Values to group by in the rows. </br>
columns : array-like, Series, or list of arrays/Series, Values to group by in the columns. </br>
values : array-like, optional, array of values to aggregate according to the factors. Requires `aggfunc` be specified. </br>
rownames : sequence, default None, If passed, must match number of row arrays passed. </br>
colnames : sequence, default None, If passed, must match number of column arrays passed. </br>
aggfunc : function, optional, If specified, requires `values` be specified as well. </br>
margins : bool, default False, Add row/column margins (subtotals). </br>
margins_name : str, default â€˜Allâ€™, Name of the row/column that will contain the totals when margins is True. </br>
dropna : bool, default True, Do not include columns whose entries are all NaN. </br>

<p style = "background-color:#4D4C7D; color:#F1EFEF">Q4. Which month of the year, maximum number movie releases are seen? (Note: Extract a new column called month from ReleaseDate column)</p>

Sol.-

In [23]:
bolly_df['Release Date'] = pd.to_datetime(bolly_df['Release Date'])
bolly_df['Release Date']

0     2014-04-18
1     2013-01-04
2     2014-07-18
3     2013-01-04
4     2014-07-04
         ...
144   2015-02-27
145   2015-03-13
146   2015-03-20
147   2015-03-20
148   2014-05-23
Name: Release Date, Length: 149, dtype: datetime64[ns]

In [25]:
bolly_df['month'] = bolly_df['Release Date'].dt.month
bolly_df['month']

0      4
1      1
2      7
3      1
4      7
      ..
144    2
145    3
146    3
147    3
148    5
Name: month, Length: 149, dtype: int64

In [26]:
# Now, count the no. of releases of each month

bolly_df['month'].value_counts()

1     20
3     19
5     18
7     16
2     16
4     11
9     10
6     10
11    10
10     9
8      8
12     2
Name: month, dtype: int64

In [28]:
# Now, let's find the month with maximum no. of releases

max_release_idx = bolly_df['month'].value_counts().idxmax()
max_release_idx

1

So, the first month have most number of movies releases.